<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- author Shixiangren
	 since 2016.2.14
	 配置mybatis -->
<configuration>
        <!-- 命名空间 -->
    <typeAliases>
   		 <typeAlias alias="fileinfo" type="model.fileinfo"/>
         <typeAlias alias="projectinfo" type="model.projectinfo"/>
         <typeAlias alias="projectuser" type="model.projectuser"/>
         <typeAlias alias="usertable" type="model.usertable"/>
         <typeAlias alias= "tapinfo" type="model.tapinfo"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>